{% extends 'base.html' %}
{% block content %}



<div class="card">
  <div class="card-header"><strong>
    	{{ simulation_record.simulation_name }} 
		{{ simulation_record.weatherfile_name }}</strong>
  </div>
  <div class="card-body">



<p class="card-text">
<strong>Run Period: </strong>{{ simulation_record.run_period }}</p>

<p class="card-text">
<strong>Total Cooling Energy [kWh]: </strong>{{ simulation_record.total_cooling_energy }}</p>

<p class="card-text">
<strong>Peak Cooling Load [kWh]: </strong>{{ simulation_record.peak_cooling_load }}</p>

<p class="card-text">
<strong>Reporting Interval: </strong>{{ simulation_record.reporting_interval }}</p>

<p class="card-text">
<strong>Cooling Setpoint [°C]: </strong>{{ simulation_record.cooling_setpoint }}</p>

<p class="card-text">
<strong>Cooling Schedule Type: </strong>{{ simulation_record.cooling_schedule_type }}</p>

<p class="card-text">
<strong>System COP: </strong>{{ simulation_record.system_cop }}</p>

<p class="card-text">
<strong>Operation Schedule/Type: </strong>{{ simulation_record.operation_schedule_type }}</p>

<p class="card-text">
<strong>Lighting Energy [kWh]: </strong>{{ simulation_record.lighting_energy }}</p>

<p class="card-text">
<strong>Equipment Energy [kWh]: </strong>{{ simulation_record.equipment_energy }}</p>

<p class="card-text">
<strong>Envelope Properties: </strong>{{ simulation_record.envelope_properties }}</p>

<p class="card-text">
<strong>EUI [kWh/m²/Year]: </strong>{{ simulation_record.eui }}</p>


<p class="card-text">
<strong>ID: </strong>{{ simulation_record.id }}</p>
    
    
  </div>
</div>

<br/><br/>
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
<a href="{% url 'delete_simulation' simulation_record.id %}" class="btn btn-danger">Delete</a>
<a href="{% url 'update_simulation' simulation_record.id %}" class="btn btn-secondary">Update Simulation</a>

{% endblock %}